<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="/" class="item"><i class="futbol outline icon"></i>FC BARCELONA</a>
			<a href="/blogs/new" class="item">NEW PLAYER</a>
		</div> 
		
	</div>