i.icon {
	font-size: 2em;
}

.container.main {
	margin-top: 7.0em;
}

#delete {
	display: inline;
}


a.nostyle {
    text-decoration: inherit;
    color: black;
    cursor: auto;
}



  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  